.about-dropdowns {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 200px 50px 200px; 
}

/* Mobile */
@media (max-width: 600px) {
  .banner {
    margin: 0 20px 20px 20px;  
  }

  .about-dropdowns {
    margin: 0 20px 20px 20px;  
    gap: 20px;
  }
}
