.property-info h1 {
  font-size: 24px;
  color: #ff6060;
  margin-bottom: 5px;
}

.property-info .location {
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background: #ff6060;
  color: white;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 500;
}

